<h1>Connect Four Practice</h1>
<p id="demo"> </p>
<script>
  function demo() {
    document.getElementById("demo").innerHTML="demo";
  }
</script>

<div>
  <table class="pure-table pure-table-bordered">
    <% for rows in 0..5 %>
    <tr>
      <% for cols in 0..6 %>
        <td>
          <button class=cellButton
            id = "<%= rows %>_<%= cols %>"
            onclick = "play(<%= rows %>, <%= cols %>)">
            <input type=hidden
              id = "cell_<%= rows %>_<%= cols %>"
              value = ""/>
          </button>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <input type=hidden id="turns" value="0"/>

</div>
